header {
    background-color: white;
}
body {
    background-color: #fbf8ec !important;
}
img.logo_img {
    width: 146px;
}
.logo {
    margin-right: 9px;
}
label.required::before {
    content: "* ";
    color: red; /* You can adjust the color as needed */
}
#report-text {
    /* font-family: "Algerian", Algerian, serif; */
    /* color: #784704; */
    font-size: 30px;
}
#name-text {
    /* font-family: "Algerian", Algerian, serif; */
    /* color: #d79a49; */
    text-transform: uppercase;
    font-weight: inherit;
    font-size: 36px;
}
#official-text {
    /* font-family: "Algerian", Algerian, serif; */
    /* color: #784704; */
    font-size: 20px;
    color:red;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: flex-start !important;
}
.head-line {
    line-height: 30px;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        flex-direction: row-reverse !important;
    }
}
a.nav-link {
    font-weight: 500;
}
.quick-link {
    background-color: white !important;
    width: 100%;
    border: thin solid #f1cd64 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-align: start !important;
    box-shadow: 1px -1px 7px 0px rgb(255 193 7 / 61%);
}
.icon {
    background-color: white !important;
}
.quick-link:hover {
    background-color: #c9c9b1 !important;
}
/* Hover effect */
.mainmenu ul li:nth-child(1) a:hover{
    color: blue;
}
.mainmenu ul li:nth-child(2) a:hover {
    color:#FF9800;
}
.mainmenu ul li:nth-child(3) a:hover{
    color: #4CAF50;
}
.mainmenu ul li:nth-child(4) a:hover {
    color:#03a9f4;
}
.mainmenu ul li:nth-child(5) a:hover {
    color: #c90044;
}
/* Active effect */
/* .mainmenu ul li:nth-child(1).active a {
    color: blue;
}
.mainmenu ul li:nth-child(2).active a {
    color:#FF9800;
}
.mainmenu ul li:nth-child(3).active a {
    color: #4CAF50;
}
.mainmenu ul li:nth-child(4).active a {
    color:#03a9f4;
}
.mainmenu ul li:nth-child(5).active a {
    color: #c90044;
} */

img {
    max-width: 100%;
}
img {
    vertical-align: middle;
}

footer.footer {
    background-color: #020202;
    color: white !important;
}
.footer-design {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: left;
    /* text-align: center; */
    font-size: 13px;
}
img#footer {
    width: 3%;
}
td, th {
    padding: 8px !important;
    font-size: 13px !important;
}

/* login */
form#login{
    /* width: 300px; */
    background-color: rgb(255 255 255);
    border-radius: 10px;
    padding: 15px 60px 0px 60px;
}
form#login *{
    /* font-family: 'Poppins',sans-serif; */
    color: #171313;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form#login h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form#login>label{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
form#login>input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(171, 111, 111, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #7d7c7c;
}
.btns{
    margin-top: 50px !important;
    width: 100% !important;
    background-color: #6f6e6e !important;
    color: #080710 !important;
    padding: 15px 0 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    cursor: pointer;
}

.court {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    .court {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
  }
.image {
    text-align: center;
    width: 100%;
    margin:0 5px 0 5px;
    position: relative;
    border-radius: 11px;
}
.images{
    position:relative;
    display:inline-block;
    height: 231px;
    padding: 6px;
    border-radius: 11px;
}

.img-text {
    opacity: 1;
}

.image:hover .img-text {
    opacity: 0.7; /* Show the text on hover */
    position: absolute;
    top: 85%;
    height: 31%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.image:hover .img-text::before {
    content: attr(data-details); /* Show the data-details attribute text */
}
.image:hover .img-text::after {
    opacity:1;
}
.bg-news{
    background-color: rgb(233 212 150) !important;
}

.gandhiTxt p {
    font-size: 13px;
    font-style: italic;
    font-family: 'Robot';
    padding: 0px 5px;
    width:100%;
}
div#data-tbl {
    height: 97%;
    position:relative;
}
td>a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
td>a:nth-child(3){
    color:blue;
}
/* notice  */
button.nav-link {
    font-weight: 500;
}
.table-notice > tbody tr td:nth-child(1){
    color: rgb(0, 0, 0) !important;
    width:10% !important;
}
.table-notice > tbody tr td:nth-child(2),.news > tbody tr td:nth-child(2) {
    color: rgb(0, 0, 0) !important;
    width:80% !important;
    font-weight: bold !important;
}

button.nav-link {
    background-color: #edd4884f;
    margin: 2px;
}
button.nav-link.active {
    background-color: #d9a509 !important;
}
button.nav-link {
    margin-bottom: 10px !important;
    border-radius: 5px;
}
/* personal details  */
span#login {
    border: 1px solid #e97716;
    border-radius: 22px;
    padding: 11px 15px 11px 15px;
    color: #834107;
    font-weight: bold;
}
div#capcha {
    background-color: #f9f5f5;
    padding: 10px;
    margin-left: 3%;
    width: 47%;
    border-radius: 4px;
}
.col-md-3.steps {
    background-color: #e3d7b2;
    /* height: 100vh; */
    border-radius: 4px;;
}
.stepper-content-hide{
    display:none;
}
.stepper-content-show{
    display:block;
}
button.submit,button.submit:hover,a.submit:hover,a.submit,a.submit:focus,button.submit:focus {
    background-color: #d1a00c;
    border: none;
}
i.fas.fa-user.users {
    padding: 4px;
    border: 1px solid #ffc107;
    border-radius: 11px;
    background-color: #b71e08a1;
}
.mainmenu ul li:nth-child(1) a:hover {
    color: black !important;
}
/* .card{
    --bs-card-border-color: rgb(243 226 226 / 18%) !important;
    --bs-card-bg: #f9f7ef !important;
} */
/* dashboard */

.profile-label {
    font-size: 13px;
}
.profile {
    font-size: 15px;
    font-weight: 500;
}
.profile-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right-style: solid;
    border-right-color: #e3d6d6;
    border-right-width: thin;
    /* position: relative; */
}
a.back {
    text-decoration: none;
    color: black;
}
.nbs-container {
    white-space: nowrap;
}
.short-name {
    border: 1px solid #bbb9b9;
    border-radius: 49px;
    padding: 20px;
    background-color: white;
    /* position: absolute; */
    /* z-index: 1000; */
    /* top: -58px; */
    margin-top:-15%;
    font-weight: 700;
}
.admitcard-header {
    flex-direction: row !important;
    justify-content: space-between; 
}
.last-item {
    margin-left: auto;
}
.sm-exam {
    font-size: 11px;
}
.sm-exam-body {
    font-size: 13px;
    font-weight: 500;
}
a.link-apply,button.link-apply {
    text-decoration: none;
    font-size: 14px;
    color: black;
    padding: 5px 20 5px 20px;
    background-color: #e3c00c;
    border-radius: 21px;
    font-weight: 600;
}
.exist {
    font-size: 13px;
    color: red;
}
.txt-color{
    color: #e3c00c !important;
}
.header-status {
    color: #c59400;
    padding: 10px 0px 10px 26px;
    background-color: #e9e5de;
    font-weight: bold;
    margin-left: -27px;
    margin-right: -27px;
}
.foot-banner {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    height: 20vh; /* Adjust as needed */
}
img.logo_hcm {
    width: 79%;
    margin-top: 5px;
    background-color: aliceblue;
    border-radius: 16px;
}
.hcm-logo {
    width: 30%;
    /* margin-left: 43%; */
}
 ul.ul-link.useful{
    margin: 0;
    /* list-style-type: none; */
    line-height: 15px;
}
span.ul-head {
    font-size: 19px;
    font-weight: 500;
    text-decoration: underline;
} 
.ul-link {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Ensure the ul takes up the full width of its parent */
}

.ul-link li {
    margin-bottom: 10px;
}

.foot-address {
    word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
    display: block; /* Ensure the address text is displayed as a block element */
    max-width: 100%; /* Ensure the address text doesn't exceed the width of the container */
}
.footer-text{
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    height: 20vh; /* Adjust as needed */
}
.fill-form {
    background-color: #ffc107;
    padding: 12px;
    border-radius: 19px;
}

span.numb {
    padding: 0px 10px;
    border: 2px solid black;
    border-radius: 36px;
}

.head-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-check.file {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.message {
    border: 1px solid white;
    background-color: white;
    border-radius: 13px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}
.status {
    display: flex;
    justify-content: space-between;
}
.animation{
    width: 100%;
    height: 100%;
    display: flex;
}
/* animation tick  */
svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }
  
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
    &.success {
      color: #73AF55;
    }
    &.error {
      color: #D06079;
    }
  }
  
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  /* end  */
  .payment {
    font-size: 14px;
    font-weight: 600;
   }
   .pay-btn {
        background-color: #c9bd81;
        padding: 8px 21px 8px 0px;
        margin: 0px -28px -16px;
    }
    /* print  */
    #print-head {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: 800;
        align-items: center;
        text-align: center;
        line-height: 35px;
    }
    .print-photo {
        border: thin solid #cbc5c5b5;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
    }
    table#print-table {
        width: 100%;
        border: thin solid black;
        border-collapse: collapse;
        table-layout: fixed;
    }
    table#print-table td {
        border-collapse: collapse;
        border: thin solid black;
        width: auto;
        text-align: center;
        text-overflow: ellipsis;
        /* overflow: visible; */
        white-space: normal;
        /* overflow:auto;  */
        /* white-space: nowrap; */
    }
    table#print-table td.print-declare {
        font-weight: 500;
        text-align: left;
    }
    .tbl-print {
        background-color: white;
        padding: 20px;
        border: thin solid #e5e2e2;
    }
    .card.card-header.bg-news.m-1.fw-bold.head-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bg-theme{
        background-color: #f7e1a0;
    }
    div.capcha {
        background-color: #f9f5f5;
        padding: 10px;
        border-radius: 4px;
    }